@media (max-width:375px) {

    .navbar{
        letter-spacing: 0px;
    
    li a {
        font-size: 18px;
    }
}
    .navbar2 img{
        width: 40px;
        height: 40px;
        padding: 2px;
    }
    .promo {
        grid-template-columns: 250px;
        grid-template-rows: repeat(7 100px);
        margin-left: 35px;
        margin-right: 35px;
    
h2{
    font-size: 24px;
}
}
.conteiner-tienda{
    font-size: 18px;
}

.conteiner-pilar{
    li a{
        font-size: 12px;
    }
}
    }
